<section id="below-fold" class="container-fluid mt-2 pt-2 flex-grow-1">
  <div class="row">
    <div class="col-sm-9">
      <p>This site allows you to search the finding aids for the manuscript collections and college records in Musselman Library’s Special Collections and College Archives. Only processed collections are reflected in this catalog; it does not provide a complete representation of our holdings. This catalog does not include digital representations of our collections, but some collections may be digitized and available for viewing in <a href="https://gettdigital.gettysburg.edu/">GettDigital</a>. To view a collection in our reading room, you can <a href="https://libcal.gettysburg.edu/seats?lid=10296&gid=18921">schedule an appointment</a> or <a href="https://www.gettysburg.edu/special-collections/ask-an-archivist">contact us</a>. Digitization of materials for research or publication purposes is considered on a case‑by‑case basis.</p>
      <h3>Additional Resources</h3>
      <ul>
        <li><a href="https://gettdigital.gettysburg.edu"><strong>GettDigital Collections:</strong></a> GettDigital is the online portal to the digital collections created by Musselman Library's Special Collections and College Archives. These digital primary sources include a wide variety of material types and subjects including 20th century experiences of war, the Civil War Era, 19th and 20th century visual culture, and Gettysburg College history and publications.</li>
        <li><a href="https://archives-collegepubs.gettysburg.edu"><strong>Gettysburgian Archives (1897-2010):</strong></a> The Gettysburgian is the official newspaper of Gettysburg College. Scans of print issues from 1897-2010 are available online.</li>
        <li><a href="https://gettysburg.primo.exlibrisgroup.com/discovery/search?tab=SC&search_scope=SC&vid=01GETTYSBURG_INST:MUSCAT&lang=en&offset=0"><strong>Special Collections in the library catalog:</strong></a> Search MUSCAT Plus, the library's catalog, for rare books, Gettysburgiana, and other book collections in Special Collections.</li>
        <li><a href="https://archive.org/details/gettysburgcollege"><strong>Gettysburg College collections on the Internet Archive:</strong></a> The Internet Archive provides online access to the Course Catalog of Gettysburg College, 1837-2006 as well as selected volumes from Special Collections and College Archives rare book collection.</li>
        <li><a href="https://archive-it.org/organizations/687"><strong>Gettysburg College archived web content on Archive-It:</strong></a> Using the Archive-It tool, Gettysburg College captures web content created by and of curricular interest to the campus community. Content includes the College website, blogs, and social media.</li>
      </ul>
  </div>
</div>
</section>

